body{
    background-color: salmon;
}
h1{
    color: rgba(135, 206, 250, 0.822);
    font-family: Medium;
    background:crimson;
}
p{
color:black;
font-family: sans-serif;
font-size: medium;
background: lightcoral;
}